doctype html
html
	head
		meta(charset="utf-8")
		title Introducir Recetas
		link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
	body
		h1 Introduciendo Recetas
		p #{mensaje}
		form(id="form1" action="/nuevaReceta" method="post")
			p
				input(type="hidden"  name="id_receta")
				label(for="Form") Nombre:
				input(type="text" id="nombreForm" name="nombre")
			p
				label(for="fechaForm") Fecha_publicación:
				input(type="date"  id="fechaForm" name="fecha_publicacion")
			p
				label(for="descripcionForm") Descripción:
				textarea(rows="4"  cols="50"  name="descripcion" id="descripcionForm")
			p
				input(type="submit" id="boton2" value="Enviar")